In [72]:
import pandas as pd
import nltk
import string
from collections import Counter
from nltk.tokenize import word_tokenize, sent_tokenize

## Leitura dos dados

In [67]:
train_df = pd.read_csv('train.csv')
train_df.shape

(20800, 5)

In [68]:
test_df = pd.read_csv('test.csv')
test_df.shape

(5200, 4)

In [69]:
train_df.head(5)

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

## Obtendo vetor de documentos

In [90]:
def tokenize_doc(doc, b_remove_punctuation=True):
    sentences = sent_tokenize(doc)
    tokens = []
    for s in sentences:
        tokens.extend(word_tokenize(s))
    return tokens
        
def remove_punctuation(tokens):
    return [ t for t in tokens if t not in string.punctuation ]

def get_vocabulary_tokenized_from_docs(tk_docs):
    vocabulary = Counter()
    for tk_d in tk_docs:
        for tk in tk_d:
            vocabulary[tk] += 1
    return vocabulary

In [91]:
docs = []
for index, row in train_df.iterrows():
    docs.append(' '.join([str(row['title']), str(row['text'])]).replace("’", "'"))

## Vocabulario e reducao de dimensionalidade simples

In [92]:
tk_docs = [tokenize_doc(d) for d in docs]
vocabulary = get_vocabulary_tokenized_from_docs(tk_docs)
print('Tamanho do vocabulario inicial:', len(vocabulary.keys()))

Tamanho do vocabulario inicial: 264268

In [93]:
tk_docs = [tokenize_doc(d.lower()) for d in docs]
vocabulary = get_vocabulary_tokenized_from_docs(tk_docs)
print('Tamanho do vocabulario com lowercase:', len(vocabulary.keys()))

Tamanho do vocabulario com lowercase: 225062